---
title: Overview
slug: overview
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 100
seo_title: Employers
editable_elements:
  main/banner: /samples/pages/Banner_Andrew_Niven_Gala
  main/content: "<p><!--StartFragment--></p>\r\n<p>CareerTrackers provides a unique
    and innovative avenue to match the need for corporate diversity with a structured,
    proven and results-based program.&nbsp;</p>\r\n<p>We create private sector internship
    opportunities for high performing Indigenous university students. These opportunities
    complement many private sector diversity initiatives, such as Reconciliation Action
    Plans (RAP), and provide a tangible, cost effective and guided method to implement
    diversity initiatives.&nbsp;</p>\r\n<p>Our program is based on the successful
    INROADS diversity internship in the USA.&nbsp; INROADS has been introducing ethnic
    minorities to professional private sector employment for over 40-years.&nbsp;
    We have adapted this model to support the unique needs of Australian Indigenous
    university students and Australian employers.</p>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  {% editable_text content %}
  <p>
    CareerTrackers provides a unique and innovative avenue to match the need for corporate diversity with a structured, proven and results-based program. 
  </p>
  <p>
    We create private sector internship opportunities for high performing Indigenous university students. These opportunities complement many private sector diversity initiatives, such as Reconciliation Action Plans (RAP), and provide a tangible, cost effective and guided method to implement diversity initiatives. 
  </p>
  <p>
    Our program is based on the successful INROADS diversity internship in the USA.  INROADS has been introducing ethnic minorities to professional private sector employment for over 40-years.  We have adapted this model to support the unique needs of Australian Indigenous university students and Australian employers.
  </p>
  {% endeditable_text %}
</div>
{% endblock %}
