---
title: Alumni
slug: alumni
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 6
seo_title: CareerTrackers Alumni Program
editable_elements:
  main/banner: /samples/pages/Banner_Andrew_Niven_2012.jpg
  main/alumni: "<p><strong>By 2018 there will be more than 300 CareerTrackers Alumni
    working throughout corporate Australia!</strong>&nbsp;</p>\r\n<p>The purpose of
    the CareerTrackers Alumni Association is to ensure that the voices of Indigenous
    Australians are represented on the boards of corporate Australia.</p>\r\n<p>CareerTrackers
    continues to support our participants once they graduate university. Each year
    we deliver national Alumni events to provide leadership training and networking
    opportunities with corporate and community leaders.&nbsp;Our Alumni also continue
    to participate in CareerTrackers events and take on a mentoring role for younger
    students in the program.&nbsp;</p>\r\n<h3>Who are our Alumni?</h3>\r\n<p>Members
    of our Alumni Association are made up of Indigenous university graduates who participated
    in CareerTrackers through an internship and continue an active role in our community.</p>\r\n<h3>How
    does it work?</h3>\r\n<p>Each year the Alumni Association get together and elect
    two executive officers who are responsible for the delivery of our national Alumni
    activities. In 2014 the Alumni Association was officially formed including two
    innagural executive officers. The President of the Alumni Association will also
    serve on the CareerTrackers National Board of Directors and respresent the voices
    of students and Alumni.</p>\r\n<h3>2014 Goals</h3>\r\n<ul>\r\n<li>Establish the
    Alumni Association By-Laws</li>\r\n<li>Develop clear governance and communication
    processes</li>\r\n<li>Plan and deliver two national Alumni leadership events</li>\r\n<li>Ensure
    that Alumni participate in CareerTrackers training events and take on a mentoring
    role with students</li>\r\n</ul>\r\n<h3>Executive Officers</h3>\r\n<p>&nbsp;</p>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  <div class='container-fluid'>
    {% editable_text 'alumni' %}
    <p>
      At the Annual Gala Dinner held during the Leadership Development Institute, we welcome new Alumni. Our current Head of Alumni, Nathan Fuller, will welcome new members into the Alumni Program. In 2013 the CareerTrackers Alumni Program will grow to 17 members.
    </p>
    <p>
      &nbsp;
    </p>
    {% endeditable_text %}
  </div>
  <!--
  {% for alumnus in contents.alumni %}
  <div class='container-fluid bottom-margin-large'>
    <div class='col-lg-2'>
      <img alt='{{alumnus.name | escape}}' class='profile-picture' src='{{alumnus.image.url | escape}}'>
    </div>
    <div class='col-lg-7'>
      <h4>{{alumnus.name | escape}}</h4>
      <p>
        {{alumnus.description | escape}}
      </p>
    </div>
  </div>
  {% endfor %}
  -->
</div>
{% endblock %}
