---
title: Alumni
slug: alumni
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 6
seo_title: CareerTrackers Alumni Program
editable_elements:
  main/banner: /samples/pages/alumnibanner.png
  main/alumni: "<p><strong>By 2020 there will be more than 1,000 CareerTrackers Alumni
    out there in the workforce!&nbsp;</strong></p>\r\n<p>The purpose of our Alumni
    program is to accelerate Aboriginal and Torres Strait Islander leadership in industry
    through creating an influential network of Indigenous professionals who are active
    role models within the community and are supporting the next generation to fulfil
    their potential.</p>\r\n<p>CareerTrackers continues to support Alumni and provide
    opportunities for ongoing development and leadership opportunities within the
    community. Each year we deliver national Alumni events to provide leadership training
    and networking opportunities with corporate and community leaders.&nbsp;Our Alumni
    also continue to participate in CareerTrackers events and take on a mentoring
    role for younger students in the program and the community.&nbsp;</p>\r\n<h3>Who
    are our Alumni?</h3>\r\n<p>Members of our Alumni Association are made up of Indigenous
    university graduates who participated in CareerTrackers through an internship
    and continue an active role in our community.</p>\r\n<h3>2017 Goals &amp; Objectives</h3>\r\n<ul>\r\n<li>Creating
    an Alumni community that can easily communicate with each other and expand their
    professional networks.</li>\r\n<li>Facilitating leadership within the Alumni community
    through the selection of an Alumni Executive Committee to lead the community and
    act as interface between CareerTrackers and the Alumni.</li>\r\n<li>Embedding
    a stronger sense of belonging through Alumni involvement and recognition with
    the wider CareerTrackers community.</li>\r\n<li>Including Alumni in critical CareerTrackers
    activities.</li>\r\n<li>Providing Alumni with ongoing professional development
    opportunities.</li>\r\n</ul>\r\n<p>&nbsp;</p>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  <div class='container-fluid'>
    {% editable_text 'alumni' %}
    <p>
      At the Annual Gala Dinner held during the Leadership Development Institute, we welcome new Alumni. Our current Head of Alumni, Nathan Fuller, will welcome new members into the Alumni Program. In 2013 the CareerTrackers Alumni Program will grow to 17 members.
    </p>
    <p>
      &nbsp;
    </p>
    {% endeditable_text %}
  </div>
  <!--
  {% for alumnus in contents.alumni %}
  <div class='container-fluid bottom-margin-large'>
    <div class='col-lg-2'>
      <img alt='{{alumnus.name | escape}}' class='profile-picture' src='{{alumnus.image.url | escape}}'>
    </div>
    <div class='col-lg-7'>
      <h4>{{alumnus.name | escape}}</h4>
      <p>
        {{alumnus.description | escape}}
      </p>
    </div>
  </div>
  {% endfor %}
  -->
</div>
{% endblock %}
