---
title: Careers
slug: careers
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 10
seo_title: Expressions of Interest
editable_elements:
  main/banner: /samples/pages/WORK_WITH_US__3_.png
  main/application: "<h5>How to apply?</h5>\r\n<p>To find out more or submit an application
    please email&nbsp;<a href=\"mailto:careers@careertrackers.org.au\">careers@careertrackers.org.au</a>.
    All applications must include a CV and cover letter outlining your interest in
    the role and what you can bring to the team.</p>"
  main/modal: "<h5>Purpose -</h5>\r\n<p>Deliver the CareerTrackers program by engaging
    students to boost their progress at university, their internship and in our community.
    Intern Advisors report to a Program Manager and are also a part of a team of other
    Intern Advisors to carry out duties aligned to the delivery of the program.</p>\r\n<h5>About
    the job &ndash;</h5>\r\n<ul>\r\n<li>Provide training and create internship opportunities
    aligned to students degree and career passion</li>\r\n<li>Present the CareerTrackers
    program at university campuses to register new students</li>\r\n<li>Build students
    confidence and support them to achieve and retain internship opportunities that
    lead to a graduate position, e.g provide interview preparation training</li>\r\n<li>Engage
    with our key partners including some of Australia&rsquo;s top employers and education
    institutions</li>\r\n</ul>\r\n<h5>Perks -</h5>\r\n<ul>\r\n<li>Participate in our
    3 day national staff conference off-site held bi-annually</li>\r\n<li>Professional
    development including access to world class training</li>\r\n<li>Exposure to some
    of Australia&rsquo;s most influential corporate and community leaders</li>\r\n<li>Gain
    first hand experience and learn about career pathways that you never knew existed</li>\r\n<li>Build
    your personal brand and obtain skills that will accelerate your career</li>\r\n</ul>\r\n<h5>Remuneration
    &ndash;</h5>\r\n<ul>\r\n<li>Annual salary of $61,320 inclusive of superannuation</li>\r\n<li>Salary
    sacrificing opportunity with a potential benefit of up to $5,342 p.a</li>\r\n</ul>\r\n<h5>About
    you &ndash;</h5>\r\n<ul>\r\n<li>Must have a Bachelor&rsquo;s degree minimum</li>\r\n<li>Have
    awareness of Aboriginal and Torres Strait Islander culture</li>\r\n<li>Keen interest
    in personal and professional development</li>\r\n<li>Thrive in a fast paced environment</li>\r\n<li>Innovative
    thinker</li>\r\n<li>Easily establishes good relationships</li>\r\n</ul>"
  main/blurb: "<h2>We live by one value: STUDENTS @ THE CORE</h2>\r\n<p>At CareerTrackers,
    we work to create meaningful career pathways aligned to our student's passion.
    Our purpose is to create opportunities that inspire excellence, which is about
    developing our students into future industry and community leaders so they can
    become the role models for future generations of Indigenous students. We believe
    that by creating a strong community of role models we will see more Aboriginal
    and Torres Strait Islanders gain degrees at university and pursue their career
    passions.<br /><br /> Since our inception in 2009 we have grown significantly,
    and the journey has only just begun. Our offices are based in central locations
    in Sydney, Brisbane and Melbourne. Together, our team are working with 1,138 students,
    86 employment partners and 37 different universities.<br /><br /> Our role is
    to support our students to excel in our 3 pillars; university, their internship
    and in our community. Our main goal is to support students to graduate from university
    and obtain an opportunity to enter graduate employment which we are achieving
    at an 89% success rate - this means more Aboriginal and Torres Strait Islander
    professionals who are the next leaders!</p>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
    {% include page_header %}
    <div class='container-fluid'>
        <div class="row">
            <div class="col-md-6">
                <h2>Intern Advisor</h2>
                Please let us know if you would like to be considered to help deliver the CareerTrackers program as an Intern Advisor. This role is key in engaging students to boost their progress at university, their internship and in our community. Roles open up in our three locations periodically, so your expression of interest will be acknowledged then considered as the need arises.
                <h3><span class="label label-warning">Sydney</span> - <a href="mailto:careers@careertrackers.org.au?Subject=CareerTrackers%20Advisor%20Application" target="_blank" >Apply Here</a><br><br></h3>
                <h3><span class="label label-warning">Brisbane</span> - <a href="mailto:careers@careertrackers.org.au?Subject=CareerTrackers%20Advisor%20Application" target="_blank" >Apply Here</a><br><br></h3>
                <!--<h3><span class="label label-warning">Melbourne</span> - <a data-toggle="modal" data-target="#secondModal" >
                    Apply Here
                </a></h3>-->
				<h3><span class="label label-warning">Melbourne</span> - <a href="mailto:careers@careertrackers.org.au?Subject=CareerTrackers%20Advisor%20Application" target="_blank" >Apply Here</a><br><br></h3>
                <br>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="background:#666666;color:#FFFFFF">
                    Click Here for an overview of the role
                </button>
                {% editable_text application %}
                <h5>Application -</h5>
                To submit an application please send a copy of your CV and a cover letter to <a href="mailto:careers@careertrackers.org.au">careers@careertrackers.org.au</a>
                {% endeditable_text %}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Intern Advisor</h4>
                            </div>
                            <div class="modal-body">
                                {% editable_text modal %}
                                <h5>Purpose -</h5>
                                Deliver the CareerTrackers program by engaging students to boost their progress at university, their internship and in our community. Intern Advisors report to a Program Manager and are also a part of a team of other Intern Advisors to carry out duties aligned to the delivery of the program.

                                <h5>About the job –</h5>
                                <ul>
                                    <li>Provide training and create internship opportunities aligned to students degree and career passion</li>
                                    <li>Present the CareerTrackers program at university campuses to register new students</li>
                                    <li>Build students confidence and support them to achieve and retain internship opportunities that lead to a graduate position, e.g provide interview preparation training</li>
                                    <li>Engage with our key partners including some of Australia’s top employers and education institutions</li>
                                </ul>

                                <h5>Perks -</h5>
                                <ul>
                                    <li>Participate in our 3 day national staff conference off-site held bi-annually</li>
                                    <li>Professional development including access to world class training</li>
                                    <li>Exposure to some of Australia’s most influential corporate and community leaders</li>
                                    <li>Gain first hand experience and learn about career pathways that you never knew existed</li>
                                    <li>Build your personal brand and obtain skills that will accelerate your career</li>
                                    <li>Salary sacrificing opportunity with a potential benefit of up to $5,486 p.a</li>
                                </ul>



                                <h5>About you –</h5>
                                <ul>
                                    <li>Must have a Bachelor’s degree minimum</li>
                                    <li>Have awareness of Aboriginal and Torres Strait Islander culture</li>
                                    <li>Keen interest in personal and professional development</li>
                                    <li>Thrive in a fast paced environment</li>
                                    <li>Innovative thinker</li>
                                    <li>Easily establishes good relationships</li>
                                </ul>
                                {% endeditable_text %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Intern Advisor</h4>
                            </div>
                            <div class="modal-body">
                                {% editable_text modal %}
                                <h5>Company Profile</h5>
                                CareerTrackers is a national not-for- profit organisation that creates internship and private sector employment opportunities for Aboriginal and Torres Strait Islander university students. Our goal is to increase the representation of Indigenous Australians in professional private sector employment.<br><br>

                                We have adopted a model from the United States which is being recognised as an innovative solution to levelling the playing field for Indigenous Australians with respect to employment. Through engaging the CEO's of Australia's leading corporations, CareerTrackers develops opportunities for Indigenous university students to undertake winter and summer semester break internships designed to develop them into the corporate and community leaders of tomorrow.<br><br>

                                Since inception in 2009 we have grown to support over 1,300 uni students as they make their transition into uni and professional workplaces across 86 employers including Qantas, CBA, Lendlease, NAB, Red Cross and the Sydney Theatre Company. We also have 43 staff who are based in central offices in Sydney, Brisbane and Melbourne.<br><br>

                                Our purpose is to Create Opportunities That Inspire Excellence, which drives our passion to develop our students into future industry and community leaders so they can become the role models for future generations of Indigenous students. We believe that by creating a strong community of role models we will see more Aboriginal and Torres Strait Islander gain a degree at university and pursue their career passion.

                                <h5>Overview of the role</h5>
                                <ul>
                                    <li>Work in a team with other Intern Advisors and be responsible for students participation in the program</li>
                                    <li>Engage with our key partners including some of Australia's top employers and education institutions to create opportunities for students</li>
                                    <li>Provide training and create internship opportunities aligned to students degree and career passion</li>
                                    <li>Present the CareerTrackers program at university campuses and register students</li>
                                    <li>Build students confidence and support them to achieve and retain internship opportunities that lead to a graduate position</li>
                                </ul>
                                
                                <h5>The responsibilities of an Intern Advisor are to:</h5>
                                <ul>
                                    <li>Operate in a fast paced environment as part of our high performing team to administer the program</li>
                                    <li>Engage students to enter the CareerTrackers program and university through uni campus visits.</li>
                                    <li>Assist students in establishing a career plan and deliver training workshops designed to ensure they are successful at uni and in the workplace.</li>
                                    <li>Provide year-round guidance to students in all aspects of work, uni and community.</li>
                                    <li>Work with employers to create a safe and structured work environment for Interns.</li>
                                    <li>Ensure Interns receive challenging assignments at work and are respected as members of their department.</li>
                                    <li>Engage in special projects designed to support the professional growth of participants</li>
                                    <li>Assist in the overall program development of the CareerTrackers program to ensure it meets the needs of participants.</li>
                                </ul>

                                <h5>Perks</h5>
                                As an Intern Advisor, not only are you shaping the lives of CareerTrackers participants you are also developing your own career. Every Intern Advisor is provided with coaching to develop their skills and confidence. In addition, Intern Advisors have access to industry experts who provide ongoing training and development.
                                <ul>
                                    <li>Participate in our 3 day national staff conference off-site held bi-annually</li>
                                    <li>Professional development including access to world class training</li>
                                    <li>Exposure to some of Australia’s most influential corporate and community leaders</li>
                                    <li>Gain first hand experience and learn about career pathways that you never knew existed</li>
                                    <li>Build your personal brand and obtain skills that will accelerate your career</li>
                                </ul>

                                <h5>Remuneration</h5>
                                <ul>
                                    <li>Annual salary of $61,320 inclusive of superannuation</li>
                                    <li>Salary sacrificing opportunity with a potential benefit of up to $5,486 p.a</li>
                                </ul>


                                <h5>Who is this job for? </h5>
                                <ul>
                                    <li>Applicants must role model professional traits and have completed a university degree</li>
                                    <li>Individuals who are passionate and are willing to go the extra mile to support Indigenous university students achieve their dream careers</li>
                                    <li>Someone who performs well in teams and has a strong desire to learn.</li>
                                    <li>Aboriginal or Torres Strait Islander candidates are encouraged to apply</li>
                                </ul>
                                
                                <h5>Application </h5>
                                Applications close 29th September 2017.<br><br>

                                CareerTrackers is a small team with big impact and lots of visibility. If you are keen to share in our vision for reconciliation, please submit an application by emailing your CV and a Cover Letter which addresses your experience in relation to the criteria above to: <a href="mailto:careers@careertrackers.org.au">careers@careertrackers.org.au</a>, using the subject line: Intern Advisor - Melbourne application via website.<br><br>

                                To find out more visit <a href='www.careertrackers.org.au/careers' targer='_blank'>www.careertrackers.org.au/careers</a> or contact us at <a href="mailto:careers@careertrackers.org.au">careers@careertrackers.org.au</a>
                                Please note that final candidates may be required to complete a National Police Check. 
                                {% endeditable_text %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class='col-md-6  bottom-margin-medium'>
                <img alt='' class='img-responsive' src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/CareersPage.png">
            </div>
        </div>

        <div class="row" style="padding-top:50px">
            <div class="col-md-6 text-center">
                <img alt ='' class='img-responsive' src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/3Pillars350px.png">
            </div>
            <div class="col-md-6 text-center">
                {% editable_text blurb %}
                <h2>We live by one value: STUDENTS @ THE CORE</h2>
                <p>

                    At CareerTrackers, we work to create meaningful career pathways aligned to our students passion. Our purpose is to Create Opportunities That Inspire Excellence, which is about developing our students into future industry and community leaders so they can become the role models for future generations of Indigenous students. We believe that by creating a strong community of role models we will see more Aboriginal and Torres Strait Islanders gain a degree at university and pursue their career passion.<br><br>

                    Since our inception in 2009 we have grown significantly, and the journey has only just begun. Our offices are based in central locations in Sydney, Brisbane and Melbourne. Together, our Intern Advisors are working with 1,138 students, 86 employment partners and 37 different universities.<br><br>

                    Our role is to support our students to excel in our three pillars; University, their internship and in our community. Our main goal is to support students to graduate from university and obtain an opportunity to enter graduate employment which we are currently achieving at an 89% success rate.<br><br>

                    If you are passionate about creating meaningful career pathways for students and want to play a key role in developing the next generation of Indigenous leaders, working at CareerTrackers could be for for you!
                </p>
                {% endeditable_text %}
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <img alt="" class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/jumbo2.png">
            </div>
        </div>

    </div>

</div>
{% endblock %}
