---
title: Pre-University Program
slug: pre-university-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
editable_elements:
  main/banner: /samples/pages/yr12_4.jpg
  main/content: "<div>\r\n<div>The vision of the CareerTrackers Pre-University Program
    is to leverage our relationships with our employment and community partners to
    make the transition from high school to university an easier one. Many young Aboriginal
    and Torres Strait Islander high school students have an ambition to study at university,
    however may not have the support available to help them transition to tertiary
    studies.</div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div><br class=\"Apple-interchange-newline\"
    />CareerTrackers works with current Year 12 students to create an opportunity
    to intern after they complete their Higher School studies. Students intern for
    four weeks in January and February before starting their&nbsp;<span class=\"il\">university</span>&nbsp;journey,
    where they are able to return for future internships. We believe the benefit of
    becoming a part of the national CareerTrackers community, receiving support from
    an Advisor &amp; workplace mentor, gaining exposure to a professional work environment
    and access to scholarship opportunities will ensure they are supported from day
    one of&nbsp;<span class=\"il\">university</span>&nbsp;- making the transition
    less daunting.</div>\r\n<p>&nbsp;</p>\r\n</div>\r\n</div>\r\n<div>&nbsp;</div>\r\n<div>If
    you are interested in this program please contact:</div>\r\n<div>&nbsp;</div>\r\n<div><strong>NSW/ACT</strong></div>\r\n<div>Hannah
    Turnbull</div>\r\n<div>Program Manager</div>\r\n<div>&nbsp;</div>\r\n<div>Email:&nbsp;<a
    href=\"mailto:mia.strasek-barker@careertrackers.org.au\" target=\"_blank\">hannah.turnbull@careertrackers.org.au</a></div>\r\n<div>Phone:&nbsp;<span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">0448 999 284</span></div>\r\n<div>&nbsp;</div>\r\n<div>&nbsp;</div>\r\n<div><strong><span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">QLD/NT</span></strong></div>\r\n<div><span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">Carrie Sailor</span></div>\r\n<div><span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">Program Manager</span></div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div>Email:&nbsp;<a
    href=\"mailto:mia.strasek-barker@careertrackers.org.au\" target=\"_blank\">carrie.sailor@careertrackers.org.au</a></div>\r\n<div>Phone:&nbsp;0447
    544 186</div>\r\n<div>&nbsp;</div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div><strong>SA/WA</strong></div>\r\n<div>Rosie
    Frecheville</div>\r\n<div>Program Manager&nbsp;</div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div>Email:&nbsp;<a
    href=\"mailto:mia.strasek-barker@careertrackers.org.au\" target=\"_blank\">rosie.frecheville@careertrackers.org.au</a></div>\r\n<div>Phone:&nbsp;<span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">0408 054 917</span></div>\r\n<div>&nbsp;</div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div><strong>VIC/TAS</strong></div>\r\n<div>Fred
    Purcell</div>\r\n<div>Program Manager&nbsp;</div>\r\n<div>&nbsp;</div>\r\n<div>\r\n<div>Email:&nbsp;<a
    href=\"mailto:mia.strasek-barker@careertrackers.org.au\" target=\"_blank\">fred.purcell@careertrackers.org.au</a></div>\r\n<div>Phone:&nbsp;<span
    data-sheets-value=\"{\" data-sheets-userformat=\"{\">0448 901 693</span></div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  <div class='container-fluid'>
    {% editable_text 'content' %}
    SOMETHING HERE
    {% endeditable_text %}
  </div>

</div>
{% endblock %}