---
title: Summer Kick-Off Workshop Evaluation
slug: summer-kick-off-workshop-evaluation
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 22
editable_elements:
  main/Details: <p><iframe width="760" height="900" frameborder="0" src="https://docs.google.com/forms/d/1ETFDy5dn6HsgbtttbgfL59g1DqpgRVBhYSV5AqtfRBU/viewform?embedded=true">Loading...</iframe></p>
---
{% extends parent %}
{% block main %}
<div class='container-fluid'>
  {% include page_header %}
  {% editable_text 'Details' %}
  <p>
    Something here.
  </p>
  {% endeditable_text %}
</div>
{% endblock %}
