---
title: Weekly Update
slug: weekly-update
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 8
seo_title: Weekly Update
editable_elements:
  main/Details: <p><iframe width="760" height="900" frameborder="0" src="https://docs.google.com/forms/d/1Il2SW32-aqpUDHvRAAxXTRaPwgXEy4rhGJFvEKx9CXs/viewform?embedded=true">Loading...</iframe></p>
---
{% extends parent %}
{% block main %}
<div class='container-fluid'>
  {% include page_header %}
  {% editable_text 'Details' %}
  <p>
    Something here.
  </p>
  {% endeditable_text %}
</div>
{% endblock %}
