---
title: Our Program
slug: our-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
seo_title: Our Program
editable_elements:
  main/banner: /samples/pages/Banner_Rosemary_2014.jpg
  main/about_us_image: 
  main/about_us_text: "<h3>Recruitment and Placements</h3>\r\n<p>We visit university
    campuses to meet with students and match them to a company that is aligned to
    their career interests. The recruitment process develops a pool of talented students
    and a range of internship options with leading private sector employers in Australia.
    All of our intern candidates have been pre-selected based on in-depth career consultations.</p>\r\n<h3>CareerTrackers
    Pre-Employment</h3>\r\n<p>We provide students with specialised training in a range
    of areas to better prepare them for employment. The key areas include interview
    skills, CV compilation, mock interviews/role plays, and confidence building exercises.</p>\r\n<h3>Program
    Development</h3>\r\n<p>We work closely with employers to identify and create internship
    positions within their organisations. This includes developing new programs and
    advising employers on approaches to modify existing programs to better suit and
    support Indigenous employees.</p>\r\n<h3>Workplace Facilitation, Monitoring and
    Performance Evaluations</h3>\r\n<p>We help interns and employers set workplace
    goals and objectives for the duration of the internship. &nbsp;This ensures students
    receive relevant work, have input into their projects and can be assessed against
    an agreed work plan. We also provide interns with weekly support on issues that
    may act as barriers to the successful completion of their duties. At the end of
    the internship managers will complete a performance evaluation on their intern
    to provide them with feedback on their strengths and weaknesses, and an action
    plan for their professional development.</p>\r\n<h3>Cultural Awareness Training</h3>\r\n<p>During
    the internship we provide a forum for employers to come together and receive cultural
    awareness training, this helps the employer's provide better support to the interns
    and has the additional benefit of fostering a greater understanding of Indigenous
    culture within the employing organisations.</p>\r\n<h3>Leadership Development
    Training</h3>\r\n<p>All students receive a minimum of 187.5 hours of leadership
    development training per annum focusing on Indigenous leadership, personal and
    professional development and community building. Training topics are centred on
    workplace acclimation, leadership development, transitioning from university to
    full-time work and personal development. This training helps ensure success of
    the program for both the intern and sponsoring company.</p>\r\n<h3>Academic Advising</h3>\r\n<p>During
    the university semester we meet with students on-campus to assist them with identifying
    areas of support required to achieve their optimal results in the classroom. These
    on-campus visits allow CareerTrackers to stay engaged with students throughout
    the entire year.</p>\r\n<h3>Ongoing Support and Mentoring</h3>\r\n<p>We remain
    engaged to support students and their families at home, at university and in the
    workplace. This is a key element in building trust and providing support where
    required. &nbsp;By being the main point of contact for employers we are able to
    provide specialist expertise in engaging with students and bringing out their
    full potential.</p>\r\n<h3>CareerTrackers Alumni Association</h3>\r\n<p>CareerTrackers
    aims to create a community of Indigenous business professionals to serve as corporate
    and community role models, creating a stronger, more self-sustaining Indigenous
    community. Once students have completed their internships they enter into the
    CareerTrackers Alumni Association where they are given continued personal and
    professional support, such as Executive Mentoring and peer encouragement. Alumni
    are also engaged in supporting the next generation of interns.</p>\r\n<p>&nbsp;</p>\r\n<p><strong><em>Many
    Indigenous employment programs do not recruit employers as well as employees.
    CareerTrackers is unique in that it meets both employers and intern needs, creating
    a mutually beneficial employment solution. In particular, the training and development,
    program monitoring and year-around mentoring we provide make CareerTrackers a
    highly effective program.</em>&nbsp;</strong></p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}