---
title: Overview
slug: overview
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: About Us
editable_elements:
  main/banner: /samples/pages/Website_Banners_-_2017_-_4.png
  main/about_us_image: 
  main/about_us_text: "<p><!--StartFragment--></p>\r\n<p>CareerTrackers is a national
    non-profit organisation that creates internship opportunities for Indigenous university
    students.&nbsp;</p>\r\n<p>Leveraging the 45-year legacy of the INROADS African-American
    internship program in the&nbsp;United States, CareerTrackers has adapted this
    model to address Indigenous disadvantage throughout Australia.</p>\r\n<p>CareerTrackers
    supports pre-professional Indigenous university students and links them with private
    sector employers to participate in paid multi-year internships.&nbsp;Students
    perform their internship with a sponsoring company with the aim of converting
    from intern into full-time employee upon completion of their university degree.</p>\r\n<p>In
    addition to making long-lasting placements CareerTrackers provides a wide spectrum
    of support to help prepare students for leadership in the workplace and the community.</p>"
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  {% capture 'about_us_image' %}{% editable_file 'about_us_image' %}{% endeditable_file %}{% endcapture %}
  {% capture 'about_us_text' %}{% editable_text 'about_us_text' %}{% endeditable_text %}{% endcapture %}
  {% if about_us_text != '' and about_us_image != '' %}
  <div class='col-lg-6'>
    {{about_us_text}} 
  </div>
  <div class='col-lg-6 hidden-xs'>
    <img class='img-responsive' src='{{about_us_image | escape}}'>
  </div>
  {% elsif about_us_image == '' and about_us_text != '' %}
  <div class='col-lg-12'>
    {{about_us_text}}
  </div>
  {% elsif about_us_image != '' and about_us_text == '' %}
  <div class='col-lg-12'>
    <img class='img-responsive' src='{{about_us_image | escape}}'>
  </div>
  {% endif %}
</div>
{% endblock %}
