---
title: ICS Scholarship - Expression of Interest
slug: ics-scholarship-eoi
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 105
seo_title: ICS Scholarship - Expression of Interest
editable_elements:
  main/introduction: "<p>The ICS Scholarship is an Australian Government initiative
    that aims to improve the professional employment prospects of Indigenous Australians.
    ICS enables Indigenous tertiary students to gain professional qualifications and
    experience and move into employment on completion of their studies.</p>\r\n<p>As
    a CareerTrackers intern, you may be eligible to apply for an ICS Scholarship.
    Before commencing the Expression of Interest (EOI) please ensure you have read
    and understood the <a href=\"http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/ICS%20Student%20Info%20Pack%201706.pdf\">ICS
    Student Info Pack</a>.</p>\r\n<p>Please note that by completing the below form
    you are only registering your interest for ICS and it is not a guarantee that
    your application will be successful. However, to keep you in the loop we will
    notify you via email as your application progresses through each stage of the
    process. As there are a limited number of ICS Scholarships available each semester,
    there may be a delay between applying for ICS and when your application is approved.&nbsp;&nbsp;</p>\r\n<p>If
    you have any questions while completing the form, feel free to contact your Advisor
    or email us at ics@careertrackers.org.au.</p>\r\n<p>&nbsp;</p>"
---
{% extends parent %}
{% block main %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">



</script>
<div class='container-fluid'>
    {% include page_header %}
    <div class='progress hide'>
        <div aria-valuemax='100' aria-valuemin='0' aria-valuenow='0' class='progress-bar' role='progressbar' style='width: 0%;'>
            <span class='sr-only'>0% Complete</span>
        </div>
    </div>
    <form id='ics_application' action='/interns/start' class='form-horizontal' method='POST' novalidate='novalidate' role='form'>
        {% csrf_param %}
        <div class='light-background padded-top padded-bottom'>
            <div class='container-fluid'>
                {% editable_text 'introduction' %}
                SOMETHING HERE
                {% endeditable_text %}
            </div>
            <fieldset>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='last_name'>Last name</label>
                    <div class='col-sm-5'>
                        <input class='form-control' id='last_name' name='intern[last_name]' placeholder='Last Name' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='first_name'>First name</label>
                    <div class='col-sm-5'>
                        <input class='form-control' id='first_name' name='intern[first_name]' placeholder='First Name' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='gender'>Gender</label>
                    <div class='col-sm-5'>
                        <div class='radio'>
                            <label>
                                <input name='intern[gender]' id="gender"  type='radio' value='Male'>
                                Male
                            </label>
                        </div>
                        <div class='radio'>
                            <label>
                                <input name='intern[gender]' id="gender" type='radio' value='Female'>
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='dob'>
                        Date of Birth
                        <div class='small normal-font-weight'>
                            (DD/MM/YYYY)
                        </div>
                    </label>
                    <div class='col-sm-5'>
                        <input class='date form-control' id="dob" name='intern[dob]' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='email'>Email address</label>
                    <div class='col-sm-5'>
                        <input class='form-control' id='email' name='intern[email]' placeholder='Email address' type='email'>
                    </div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='student_advisor'>Student Advisor</label>
                    <div class='col-sm-5'>
                        <select class='form-control' id='student_advisor' name='intern[student_advisor]'>
                            <option selected='' value=''></option>
                            <option value='Aydon Edwards'>Aydon Edwards</option>
                            <option value='Carrie Sailor'>Carrie Sailor</option>
                            <option value='Carmel Harris'>Carmel Harris</option>
                            <option value='Corey Smith'>Corey Smith</option>
                            <option value='Elianor Gerrard'>Elianor Gerrard</option>
                            <option value='Emma Guest'>Emma Guest</option>
                            <option value='Fred Purcell'>Fred Purcell</option>
                            <option value='Georgia Farquer'>Georgia Farquer</option>
                            <option value='Hannah Turnbull'>Hannah Turnbull</option>
                            <option value='Heather Wortes'>Heather Wortes</option>
                            <option value='Jacob-John Pale'>Jacob-John Pale</option>
                            <option value='Jane Glover'>Jane Glover</option>    
                            <option value='Jay Palese'>Jay Palese</option>
                            <option value='Jen McCrea'>Jen McCrea</option>
                            <option value='Jessica Bulger'>Jessica Bulger</option>
                            <option value='Joel Teague'>Joel Teague</option>
                            <option value='Jordanna Christensen'>Jordanna Christensen</option>
                            <option value='Lily Brouwer-French'>Lily Brouwer-French</option>
                            <option value='Matthew Faulkner'>Matthew Faulkner</option>
                            <option value='Olivia Wright'>Olivia Wright</option>
                            <option value='Peta-Lee Moran'>Peta-Lee Moran</option>
                            <option value='Rosie Frecheville'>Rosie Frecheville</option>
                            <option value='Talia Ritson'>Talia Ritson</option>
                            
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label' for='ics'>
                        Have you received Indigenous Cadetship Support before?
                    </label>
                    <div class='col-sm-5'>
                        <div class='radio'>
                            <label id='ics_yes'>
                                <input name='intern[ics]' id="ics" type='radio' value='yes'>
                                Yes
                            </label>
                        </div>
                        <div  class='radio'>
                            <label id='ics_no'>
                                <input name='intern[ics]' id="ics" type='radio' value='no'>
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div id="ics_previous_dates" class='hide form-group'>
                    <label class='col-sm-3 control-label' for='ics'>
                        If you have received Indigenous Cadetship Support before, what dates did you previously received ICS
                    </label>
                    <div class='col-sm-5'>
                        <input class='form-control' id='ics_dates' name='intern[ics_dates]' placeholder='Semester 1 - 2014 to Semester 2 2015' type='text'>
                    </div>
                </div>

                <div class='hidden form-group'>
                    <label class='col-sm-3 control-label' for='ics-id'>ICS Application ID</label>
                    <div class='col-sm-5'>
                        <input class='form-control' id='ics-app-id' name='intern[ics-app-id]' type='text'>
                    </div>
                </div>

                <!--
<div class='form-group'>
<label class='col-sm-3 control-label' for='ics'>
Please register on the ICS website prior to proceeding with the application form
</label>
<div class='col-sm-5 padded-top-small'>
<a href='https://www.ics.deewr.gov.au/Student/Registration.aspx' target='_blank'>
ICS Registration form
</a>
</div>
</div> -->

                <div class='col-sm-8'>
                    <div class='form-group pull-right'>
                        <!--<button class='btn orange-button' type='button'>Back</button> -->
                        <!--<button class='btn orange-button' onSubmit='postToGoogle()' type='submit'>Next</button>-->
                        <button class='btn orange-button' type='submit'>Next</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}
{% block javascripts %}

<script>
    $(document).ready(function() {
        var metrics = [
            [ "[name='intern[last_name]']", 'presence', 'Last name is required and cannot be empty' ],
            [ "[name='intern[first_name]']", 'presence', 'First name is required and cannot be empty' ],
            [ "[name='intern[gender]']", 'presence', 'Please choose one of the following' ],
            [ "[name='intern[dob]']", /|(0[1-9]|[12][0-9]|3[01])[\/.](0[1-9]|1[012])[\/.](19|20)\d\d/, 'Invalid date format. Should be dd/mm/yyyy' ],
            [ "[name='intern[dob]']", 'presence', 'Date of birth is required and cannot be empty' ],
            [ "[name='intern[email]']", 'presence', 'Email address is required and cannot be empty' ],
            [ "[name='intern[email]']", 'email', 'Invalid email address' ],
            [ "[name='intern[ics]']", 'presence', 'Please choose one of the following' ],
            [ "[name='intern[student_advisor]']", 'presence', 'Please select your student advisor' ]
        ];

        $( "form" ).nod( metrics , {
            groupSelector: ".form-group",
            groupClass: "has-error",
            helpSpanDisplay: "help-block small"

        });


        $("#ics_yes").click(function(){
            $("#ics_previous_dates").removeClass("hide");
        });

        $("#ics_no").click(function(){
            $("#ics_previous_dates").addClass("hide");
        });


        var rand = parseInt(Math.random()*10000000000);
        $("#ics-app-id").val(rand);
        console.log($("#ics-app-id").val());
        function postToGoogle() {
            var field1 = $("#last_name").val();
            var field2 = $("#first_name").val();
            var field3 = $('input[id=gender]:checked', '#ics_application').val()
            var field4 = $("#dob").val();
            var field5 = $("#email").val();
            var field6 = $("#student_advisor").val();
            var field7 = $('input[id=ics]:checked', '#ics_application').val();
            var field8 = rand;
            var field9 = $("#ics_dates").val();
            var ajaxData = {"id" : rand,"entry.1663862538": field1, "entry.1775386231": field2, "entry.1860433036": field3, "entry.1746506056": field4, "entry.269528052": field5, "entry.1316935157": field6, "entry.1327838264": field7, "previous" : field9};



            $.ajax({
                type: "POST",
                url: "https://script.google.com/macros/s/AKfycbwm_SDHzm0FSFa4XtkODcf_VXv3zFQMLwX3SZoHVfheSZ4dBWFH/exec",
                data: JSON.stringify(ajaxData),
                dataType: "json",
                statusCode: {
                    0: function() {
                        //Success message
                    },
                    200: function() {
                        //Success Message
                    }
                },
                xhrFields: {
                    withCredentials: true
                }
            });
            //alert('working');
        }
        $('#ics_application').submit(function() {
            postToGoogle();
            //return false;
        });

    });

</script>


{% endblock %}
