<<<<<<< HEAD:app/views/pages/forms/new-employer-expression-of-interest.liquid
=======
---
title: CareerTrackers Intern Timesheet
slug: intern-timesheet
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 103
seo_title: CareerTrackers Intern Timesheet
---
{% extends parent %}
{% block main %}
<div class='container-fluid'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input').keyup(function(){
                if($(this).val().length==$(this).attr("maxlength")){
                    $(this).next().focus();
                }
            });
        });

    </script>
    <!--{% include page_header %}-->
    <div class="page-header orange-dotted-border-bottom">
        
        <div class='fb-like pull-right visible-lg' data-action='like' data-href='https://facebook.com/CareerTrackers' data-layout='button_count' data-share='true' data-show-faces='true'></div>
        <h1>
            CareerTrackers Intern Timesheet
        </h1>
    </div>
    
    <p>
      CareerTrackers interns are required to complete the below timesheet and submit to their manager for approval at the end of the week.  Once approved, timesheets are sent to the Payroll Officer at CareerTrackers for processing.<br><br>
        
      All timesheets must be approved by the manager before 5:30pm at the end of each week.  Timesheets not approved before the deadline may not be processed until the following pay period.<br><br>
        
      If you have any questions, email the CareerTrackers Payroll Officer at payroll@careertrackers.org.au.<br><br>
    
      <h4><u>The Process:</u></h4>

      <table style="width:1500px;" border="0">
        <tr>
          <td>Step 1: <br><br></td>
          <td>Complete the below timesheet each week ensuring that all information is correct. <br><br>
            </td>
        </tr>
        <tr>
          <td>Step 2:<br><br></td>
          <td>The completed timesheet will be sent to your manager for approval.  You will also receive a copy for your own records.<br><br>
            </td>
        </tr>
        <tr>
          <td>Step 3:<br><br></td>
          <td>Once approved by your manager, a final copy will be sent to you and the CareerTrackers Payroll Officer for processing.  (Please note that all wages are paid on a fortnightly basis in arrears)<br><br>
            </td>
        </tr>
      </table>

    </p>

    <form id='intern_timesheet' action='' class='form-horizontal' method='POST' novalidate='novalidate' role='form'>
        {% assign intern = session['intern'] %}
        {% csrf_param %}
        <!-- Will be hidden until Intern Details -->


        <div class = "">

            <!-- Visible From Below -->

            <hr>
            <div class='light-background padded-bottom'>
                <fieldset>
                    <div class='form-group'>
                        <label class='col-sm-4 control-label' for='name'><h3><u>Timesheet</u></h3></label>
                        
                    </div>
                    
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='name'>Name</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='name' name='timesheet[name]' placeholder='Name' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='email_address'>Email Address</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='email_address' name='timesheet[email_address]' placeholder='Email Address' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='employer'>Employer</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='employer' name='timesheet[employer]' placeholder='Employer' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='team_department'>Team / Department</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='team_department' name='timesheet[team_department]' placeholder='Team / Department' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='manager'>Manager Name</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='manager' name='timesheet[manager]' placeholder='Manager Name' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-2 control-label' for='manager_email_address'>Manager Email Address</label>
                        <div class='col-sm-4'>
                            <input class='form-control' id='manager_email_address' name='timesheet[manager_email_address]' placeholder='Manager Email Address' type='text'>
                        </div>
                    </div>
                    <div class='form-group'>
                    <label class='col-sm-2 control-label' for='timeperiod'>Time Period</label>
                    <div class='col-sm-4'>
                        <select class='form-control' id='timeperiod' name='timesheet[timeperiod]'>
                            <option selected='' value=''></option>
                            <option value='20-24 November 2017'>20 November 2017 - 24 November 2017</option>
                            <option value='27 November 2017 - 1 December 2017'>27 November 2017 - 1 December 2017</option>
                            <option value='4-8 December 2017'>4 December 2017 - 8 December 2017</option>
                            <option value='11-15 December 2017'>11 December 2017 - 15 December 2017</option>
                            <option value='18-22 December 2017'>18 December 2017 - 22 December 2017</option>
                            <option value='8-12 January 2018'>8 January 2018 - 12 January 2018</option>
                            <option value='15-19 January 2018'>15 January 2018 - 19 January 2018</option>
                            <option value='22-26 January 2018'>22 January 2018 - 26 January 2018</option>
                            <option value='29 January 2018 - 2 February 2018'>29 January 2018 - 2 February 2018</option>
                            <option value='5-9 February 2018'>5 February 2018 - 9 February 2018</option>                            
                        </select>
                    </div>
                    </div>
                    
                <div class='form-group'>
                    <label class='col-sm-1 control-label' for='spacer'></label>
                    <div class='col-sm-8'>
                    <table style="width:100%;text-align: center" border="0">
                        <tr>
                            <th id='dayheader'>Day</th>
                            <th class='otherheaders'>Start Time</th> 
                            <th class='otherheaders' >Meal Break</th>
                            <th class='otherheaders' >Finish Time</th>
                            <th class='otherheaders' >Total Hours per Day</th>
                            <th class='otherheaders' >Net Hours to be paid after breaks</th>
                        </tr>
                        <tr>
                            
                            <td style="text-align: left">Monday</td>
                            <td><input type="time" id='start_time1' name='timesheet[start_time1]'  style="text-align:center;"></td>
                            <td><select class='form-control' id='meal_break1' name='timesheet[meal_break1]'>
                            <option selected='' value=''></option>
                            <option value='0.25'>15 mins</option>
                            <option value='0.50'>30 mins</option>
                            <option value='0.75'>45 mins</option>
                            <option value='1'>60 mins</option>
                                </select></td> 
                            <td><input type="time" id='finish_time1' name='timesheet[finish_time1]' style="text-align:center;"></td>
                            <td><input name="hours1" disabled id="hours1" style="text-align:center;"></td>
                            <td><input name="final1" disabled id="final1" style="text-align:center;"></td>
                            
                        </tr>
                        <tr>
                            <td style="text-align: left">Tuesday</td>
                            <td><input type="time" id='start_time2' name='timesheet[start_time2]' style="text-align:center;"></td>
                            <td><select class='form-control' id='meal_break2' name='timesheet[meal_break2]'>
                            <option selected='' value=''></option>
                            <option value='0.25'>15 mins</option>
                            <option value='0.50'>30 mins</option>
                            <option value='0.75'>45 mins</option>
                            <option value='1'>60 mins</option>
                                </select></td>  
                            <td><input type="time" id='finish_time2' name='timesheet[finish_time2]' style="text-align:center;"></td>
                            <td><input name="hours2" disabled id="hours2" style="text-align:center;"></td>
                            <td><input name="final2" disabled id="final2" style="text-align:center;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Wednesday</td>
                            <td><input type="time" id='start_time3' name='timesheet[start_time3]' style="text-align:center;"></td>
                            <td><select class='form-control' id='meal_break3' name='timesheet[meal_break3]'>
                            <option selected='' value=''></option>
                            <option value='0.25'>15 mins</option>
                            <option value='0.50'>30 mins</option>
                            <option value='0.75'>45 mins</option>
                            <option value='1'>60 mins</option>
                                </select></td>  
                            <td><input type="time" id='finish_time3' name='timesheet[finish_time3]' style="text-align:center;"></td>
                            <td><input name="hours3" disabled id="hours3" style="text-align:center;"></td>
                            <td><input name="final3" disabled id="final3" style="text-align:center;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Thursday</td>
                            <td><input type="time" id='start_time4' name='timesheet[start_time4]' style="text-align:center;"></td>
                            <td><select class='form-control' id='meal_break4' name='timesheet[meal_break4]'>
                            <option selected='' value=''></option>
                            <option value='0.25'>15 mins</option>
                            <option value='0.50'>30 mins</option>
                            <option value='0.75'>45 mins</option>
                            <option value='1'>60 mins</option>
                                </select></td>  
                            <td><input type="time" id='finish_time4' name='timesheet[finish_time4]' style="text-align:center;"></td>
                            <td><input name="hours4" disabled id="hours4" style="text-align:center;"></td>
                            <td><input name="final4" disabled id="final4" style="text-align:center;"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Friday</td>
                            <td><input type="time" id='start_time5' name='timesheet[start_time5]' style="text-align:center;"></td>
                            <td><select class='form-control' id='meal_break5' name='timesheet[meal_break5]'>
                            <option selected='' value=''></option>
                            <option value='0.25'>15 mins</option>
                            <option value='0.50'>30 mins</option>
                            <option value='0.75'>45 mins</option>
                            <option value='1'>60 mins</option>
                                </select></td>  
                            <td><input type="time" id='finish_time5' name='timesheet[finish_time5]' style="text-align:center;"></td>
                            <td><input name="hours5" disabled id="hours5" style="text-align:center;"></td>
                            <td><input name="final5" disabled id="final5" style="text-align:center;"></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td> 
                            <td><b>Total</b></td>
                            <td><input name="totalFinal1" disabled id="totalFinal1" style="text-align:center;"></td>
                            <td><input name="totalFinal2" disabled id="totalFinal2" style="text-align:center;"></td>
                        </tr>
                    </table>
                    </div>
                </div>
                    
                                        

                    <!-- Spacer Start -->
                    <div class='form-group hide-form'>
                        <label class='col-sm-3 control-label' for='blank_space'>
                        </label>
                        <div class='col-sm-5'>
                        </div>
                    </div>
                    <div class='form-group hide-form'>
                        <label class='col-sm-3 control-label' for='blank_space'>
                        </label>
                        <div class='col-sm-5'>
                        </div>
                    </div>
                    <div class='form-group hide-form'>
                        <label class='col-sm-3 control-label' for='blank_space'>
                        </label>
                        <div class='col-sm-5'>
                        </div>
                    </div>
                    <!-- Spacer End -->


                </fieldset>
            </div>

                </p>
        </div>


        <!-- spacer -->
        <div class='form-group hide-form'>
            <label class='col-sm-3 control-label' for='blank_space'>
            </label>
            <div class='col-sm-5'>
            </div>
        </div>
        <div class='form-group hide-form'>
            <label class='col-sm-3 control-label' for='blank_space'>
            </label>
            <div class='col-sm-5'>
            </div>
        </div>
        <div class='form-group hide-form'>
            <label class='col-sm-3 control-label' for='blank_space'>
            </label>
            <div class='col-sm-5'>
            </div>
        </div>
        <div class='form-group hide-form'>
            <label class='col-sm-3 control-label' for='blank_space'>
            </label>
            <div class='col-sm-5'>
            </div>
        </div>

        <!-- end spacer -->
        
    
        <div class='row'>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <div class='col-sm-2 pull-left'>
                        <button class='btn orange-button' type='submit'>Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        var metrics = [
            [ "[name='timesheet[name]']", 'presence', 'Name is required and cannont be empty' ],
            [ "[name='timesheet[email_address]']", 'presence', 'Email Address is required and cannot be empty' ],
            [ "[name='timesheet[email_address]']", 'email', 'Invalid email address' ],
            [ "[name='timesheet[employer]']", 'presence', 'Employer is required and cannot be empty' ],
            [ "[name='timesheet[team_department]']", 'presence', 'Team / Department is required and cannot be empty' ],
			[ "[name='timesheet[manager]']", 'presence', 'Manager Name is required and cannot be empty' ],
			[ "[name='timesheet[manager_email_address]']", 'presence', 'Manager Email Address is required and cannot be empty' ],
			[ "[name='timesheet[manager_email_address]']", 'email', 'Invalid email address' ],
			[ "[name='timesheet[timeperiod]']", 'presence', 'Time Period is required and cannot be empty' ],
            
        ];

        $( "form" ).nod( metrics , {
            groupSelector: ".form-group",
            groupClass: "has-error",
            helpSpanDisplay: "help-block small"
        });

        function postToGoogle() {
            var name = $("#name").val();
            var emailAddress = $("#email_address").val();
            var employer = $("#employer").val();
            var teamDepartment = $("#team_department").val();
            var manager = $("#manager").val();
            var managerEmailAddress = $("#manager_email_address").val;
            var timePeriod = $("#timeperiod").val();

            var ajaxData = {
                            "entry.1862661918": name,
                            "entry.730450753": emailAddress,
                            "entry.967983336": employer,
                            "entry.548718755": teamDepartment,
                            "entry.1716666657": manager,
                            "entry.209084879": managerEmailAddress,
                            "entry.357859019": timePeriod,
                           };

            
            $.ajax({
                type: "POST",
                url: "https://script.google.com/macros/u/0/s/AKfycbw9rCkfdpuHVoJpWHNeo5GHgKVokcjHZYNymPJd7FLqtU1OzPV1/exec",
                data: JSON.stringify(ajaxData),
                dataType: "json",
                statusCode: {
                    0: function() {
                        //Success message
                    },
                    200: function() {
                        //Success Message
                    }
                },
                xhrFields: {
                    withCredentials: true
                }
            });
            //alert('working');
        }
        $('#intern_timesheet').submit(function() {
            postToGoogle();
            //return false;
        });
        
        $('#dayheader').css("text-align","left");
        $('.otherheaders').css("text-align","center");
        ///
        $('#start_time1, #start_time2, #start_time3, #start_time4, #finish_time1, #finish_time1, #finish_time2, #finish_time3, #finish_time4, #finish_time5' ).each(function(){
            $(this).change(function(){

                let startTimeOne = $('#start_time1').val();
                let startTimeTwo = $('#start_time2').val();
                let startTimeThree = $('#start_time3').val();
                let startTimeFour = $('#start_time4').val();
                let startTimeFive = $('#start_time5').val();

                let endTimeOne = $('#finish_time1').val();
                let endTimeTwo = $('#finish_time2').val();
                let endTimeThree = $('#finish_time3').val();
                let endTimeFour = $('#finish_time4').val();
                let endTimeFive = $('#finish_time5').val();

                let startHourOne = startTimeOne.slice(0,2);
                let startHourTwo = startTimeTwo.slice(0,2);
                let startHourThree = startTimeThree.slice(0,2);
                let startHourFour = startTimeFour.slice(0,2);
                let startHourFive = startTimeFive.slice(0,2);

                let startMinsOne = startTimeOne.slice(3,5);
                let startMinsTwo = startTimeTwo.slice(3,5);
                let startMinsThree = startTimeThree.slice(3,5);
                let startMinsFour = startTimeFour.slice(3,5);
                let startMinsFive = startTimeFive.slice(3,5);

                let endHourOne = endTimeOne.slice(0,2);
                let endHourTwo = endTimeTwo.slice(0,2);
                let endHourThree = endTimeThree.slice(0,2);
                let endHourFour = endTimeFour.slice(0,2);
                let endHourFive = endTimeFive.slice(0,2);

                let endMinsOne = endTimeOne.slice(3,5);
                let endMinsTwo = endTimeTwo.slice(3,5);
                let endMinsThree = endTimeThree.slice(3,5);
                let endMinsFour = endTimeFour.slice(3,5);
                let endMinsFive = endTimeFive.slice(3,5);


                let differenceHourOne = endHourOne - startHourOne;
                let differenceMinsOne = (endMinsOne - startMinsOne)/60;

                let differenceHourTwo = endHourTwo - startHourTwo;
                let differenceMinsTwo = (endMinsTwo - startMinsTwo)/60;

                let differenceHourThree = endHourThree - startHourThree;
                let differenceMinsThree = (endMinsThree - startMinsThree)/60;

                let differenceHourFour = endHourFour - startHourFour;
                let differenceMinsFour = (endMinsFour - startMinsFour)/60;

                let differenceHourFive = endHourFive - startHourFive;
                let differenceMinsFive = (endMinsFive - startMinsFive)/60;

            
            //console.log(differenceHour + '.' + differenceMins);
            if(endTimeOne == "" || startTimeOne == ""){
                $('#hours1').val("");
            }else{
                $('#hours1').val(parseFloat(differenceHourOne) + parseFloat(differenceMinsOne.toFixed(2)))    
            }
            
            if(endTimeTwo == "" || startTimeTwo == ""){
                $('#hours2').val("");
            }else{
                $('#hours2').val(parseFloat(differenceHourTwo) + parseFloat(differenceMinsTwo.toFixed(2)))    
            }
            
            if(endTimeThree == "" || startTimeThree == ""){
                $('#hours3').val("");
            }else{
                $('#hours3').val(parseFloat(differenceHourThree) + parseFloat(differenceMinsThree.toFixed(2)))    
            }
            
            if(endTimeFour == "" || startTimeFour == ""){
                $('#hours4').val("");
            }else{
                $('#hours4').val(parseFloat(differenceHourFour) + parseFloat(differenceMinsFour.toFixed(2)))    
            }
            
            if(endTimeFive == "" || startTimeFive == ""){
                $('#hours5').val("");
            }else{
                $('#hours5').val(parseFloat(differenceHourFive) + parseFloat(differenceMinsFive.toFixed(2)))    
            }
                
            /////////
            let beforeBreakOne = $('#hours1').val();  
            let beforeBreakTwo = $('#hours2').val();  
            let beforeBreakThree = $('#hours3').val();  
            let beforeBreakFour = $('#hours4').val();  
            let beforeBreakFive = $('#hours5').val();  

            let mealBreakOne = $('#meal_break1').val();
            let mealBreakTwo = $('#meal_break2').val();
            let mealBreakThree = $('#meal_break3').val();
            let mealBreakFour = $('#meal_break4').val();
            let mealBreakFive = $('#meal_break5').val();
            
            let diffHourOne = beforeBreakOne - mealBreakOne;
            let diffHourTwo = beforeBreakTwo - mealBreakTwo;
            let diffHourThree = beforeBreakThree - mealBreakThree;
            let diffHourFour = beforeBreakFour - mealBreakFour;
            let diffHourFive = beforeBreakFive - mealBreakFive;
            
            if(diffHourOne > 0) {
                $('#final1').val(parseFloat(diffHourOne));
            }else {
                $('#final1').val(0);
            }
            
            if(diffHourTwo > 0) {
                $('#final2').val(parseFloat(diffHourTwo));
            }else {
                $('#final2').val(0);
            }
            
            if(diffHourThree > 0) {
                $('#final3').val(parseFloat(diffHourThree));
            }else {
                $('#final3').val(0);
            }
            
            if(diffHourFour > 0) {
                $('#final4').val(parseFloat(diffHourFour));
            }else {
                $('#final4').val(0);
            }
            
            if(diffHourFive > 0) {
                $('#final5').val(parseFloat(diffHourFive));
            }else {
                $('#final5').val(0);
            }
            
        let totalHours = parseFloat(beforeBreakOne) + parseFloat(beforeBreakTwo) + parseFloat(beforeBreakThree) + parseFloat(beforeBreakFour) + parseFloat(beforeBreakFive);
        
        let totalNet = parseFloat(diffHourOne) + parseFloat(diffHourTwo) + parseFloat(diffHourThree) + parseFloat(diffHourFour) + parseFloat(diffHourFive);
        
        if(totalHours > 0){
            $('#totalFinal1').val(totalHours);    
        } else {
            $('#totalFinal1').val(0);    
        }
            
        if(totalNet > 0){
            $('#totalFinal2').val(totalNet);    
        } else {
            $('#totalFinal2').val(0);    
        }
                
        });
    });
    
        
    $('#hours1, #hours2, #hours3, #hours4, #hours5, #meal_break1, #meal_break2, #meal_break3, #meal_break4, #meal_break5').each(function(){
        $(this).change(function(){
            //console.log("trigger");
            let beforeBreakOne = $('#hours1').val();  
            let beforeBreakTwo = $('#hours2').val();  
            let beforeBreakThree = $('#hours3').val();  
            let beforeBreakFour = $('#hours4').val();  
            let beforeBreakFive = $('#hours5').val();  

            let mealBreakOne = $('#meal_break1').val();
            let mealBreakTwo = $('#meal_break2').val();
            let mealBreakThree = $('#meal_break3').val();
            let mealBreakFour = $('#meal_break4').val();
            let mealBreakFive = $('#meal_break5').val();
            
            let differenceHourOne = beforeBreakOne - mealBreakOne;
            let differenceHourTwo = beforeBreakTwo - mealBreakTwo;
            let differenceHourThree = beforeBreakThree - mealBreakThree;
            let differenceHourFour = beforeBreakFour - mealBreakFour;
            let differenceHourFive = beforeBreakFive - mealBreakFive;
            
            if(differenceHourOne > 0) {
                $('#final1').val(parseFloat(differenceHourOne));
            }else {
                $('#final1').val(0);
            }
            
            if(differenceHourTwo > 0) {
                $('#final2').val(parseFloat(differenceHourTwo));
            }else {
                $('#final2').val(0);
            }
            
            if(differenceHourThree > 0) {
                $('#final3').val(parseFloat(differenceHourThree));
            }else {
                $('#final3').val(0);
            }
            
            if(differenceHourFour > 0) {
                $('#final4').val(parseFloat(differenceHourFour));
            }else {
                $('#final4').val(0);
            }
            
            if(differenceHourFive > 0) {
                $('#final5').val(parseFloat(differenceHourFive));
            }else {
                $('#final5').val(0);
            }
            
        let totalHours = parseFloat(beforeBreakOne) + parseFloat(beforeBreakTwo) + parseFloat(beforeBreakThree) + parseFloat(beforeBreakFour) + parseFloat(beforeBreakFive);
        
        let totalNet = parseFloat(differenceHourOne) + parseFloat(differenceHourTwo) + parseFloat(differenceHourThree) + parseFloat(differenceHourFour) + parseFloat(differenceHourFive);
        
        if(totalHours > 0){
            $('#totalFinal1').val(totalHours);    
        } else {
            $('#totalFinal1').val(0);    
        }
            
        if(totalNet > 0){
            $('#totalFinal2').val(totalNet);    
        } else {
            $('#totalFinal2').val(0);    
        }
            
        });
       
    });
      

    });




</script>
{% endblock %}

